<form>
    <div class="girdle">

       Please download log and send them to support person.
    </div>
    <!-- END girdle -->

    {{formControls "help.help_and_support.button.download_logs" }}

</form>