<div class='row'>
  <div class="col-md-12">
    <div id="breadcrumb">
      <%= render partial: 'admin/shared/breadcrumb' %>
    </div>
  </div>
</div>
<div id="modalBox"></div>
<div class="row">
  <div class="col-md-9" id="left-panel" style="padding-right:0px !important;">
    <div id="left-panel">
      <%= render partial: 'table' %>
    </div>
  </div>
  <div class="col-md-3" id="side-bar">
    <div id="side_bar" class="primary_action_panel">
      <%= render partial: 'right_side_bar' %>
    </div>
  </div>
</div>
