<div id="breadcrumb">
  <% breadcrumb :teams %>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-8">
        <div id="teams_table">
          <div id="modal_box"></div>
          <%= render partial: "table" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div id="teams_right_side_bar">
          <%= render partial: "right_side_bar" %>
        </div>
      </div>
    </div>
  </div>
</div>