<div id="members_table">
  <div class='chorus-box'>
    <div class='box-header'>
      <h3 class='box-title'>Manage Roles</h3>
    </div><!-- /.box-header -->
    <div class='box-body'>
      <p><%= image_tag('comingsoon.jpg', :alt => '[Coming Soon]') %></p>
    </div><!-- /.box-body -->
  </div>
</div>
