<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title"><%= team.name%></h3>
    <%= image_tag @team.avatar.url(:icon) %>
  </div><!-- /.box-header -->

    <div class="box-body">
      <dl class="dl-horizontal">
        <dt>Description</dt> <dd> <%= team.description%> </dd>
      </dl>
   </div>
 </div>