<div class="dataTables_paginate paging_simple" style="float:right">
  <!-- <#%= page_entries_info @teams %> -->
  <%= will_paginate @teams, :class => 'digg_pagination', :page_links => false  %>
</div>

