<div id="updateScopes" class="modal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-center">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-1">
            <i class="fa fa-2x fa-exclamation-triangle"  style="color:darkorange;">&nbsp;&nbsp;</i>
          </div>
          <div class="col-md-11">
              <p><strong>Are you sure you want to remove this team from all scope groups?</strong></p>
              <p>Once removed the members of this team will no longer be able access anything in the application</p>
              <br/>
              <p>Are you sure you want to continue?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="modalish cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Remove All</button>
      </div>
    </div>

  </div>
</div>
