<div id="updateTeamRoles" class="modal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-center">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header dialog-header">
        <div class="row">
          <div class="col-md-1" style="padding-top:12px;">
            <i class="fa  fa-check-circle"  style="color:forestgreen;font-size:30px;"></i>
          </div>
          <div class="col-md-11">
            <% if @change_count > 0 %>
              <p><%= @change_count %> new roles are added to the team.</p>
            <% else %>
              <p><%=  -@change_count %> roles have been removed from the team.</p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-1">
            <i class="fa fa-2x fa-exclamation-triangle"  style="color:darkorange;">&nbsp;&nbsp;</i>
          </div>
          <div class="col-md-11">
              <p>Do you want to send notification to the new team members to tell them that they have been added to the team?</p>
              <br/>
              <p>No notification will be sent for removal from the team.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Send Notification</button>
        <button type="button" class="btn btn-primary">Don't Send Notification</button>
      </div>
    </div>

  </div>
</div>
