<div id="breadcrumb">
  <% breadcrumb :users %>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-8">
        <div id="users_table">
          <%= render partial: "table" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div id="users_right_side_bar">
          <%= render partial: "right_side_bar" %>
        </div>
      </div>
    </div>
  </div>
</div>