/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require index.css
 *= require_tree .
 */

@import "overrides";

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: $light;
    src: url('/fonts/sourcesanspro/SourceSansPro-Light.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    src: url('/fonts/sourcesanspro/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: $semibold;
    src: url('/fonts/sourcesanspro/SourceSansPro-Semibold.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    src: url('/fonts/sourcesanspro/SourceSansPro-Bold.ttf');
}


.main-header .search {
    overflow: hidden;
    margin: 8px 0 0 0;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
    height: 30px;
}

.main-header .search .chorus_search_container {
    display: inline-block;
    position: relative;
    line-height: 25px;
    padding: 0;
    margin: 0;
}

.main-header .search span {
    color: #2dc0ff;
    z-index: 1;
}

.main-header .search  .chorus_search_container {
    display: inline-block;
    position: relative;
    line-height: 25px;
    padding: 0;
    margin: 0;
}

.main-header .search .search_magnifying_glass:before {
    z-index: 1;
    color: #2dc0ff;
    font-size: 15px;
    top: 2px;
}

.main-header .search .search_magnifying_glass::before {
    position: absolute;
    top: 0;
    left: 8px;
    font-family: FontAwesome;
    color: #2dc0ff;
    font-size: 15px;
    content: "\f002";
}

.main-header .search input {
    height: 30px;
    background-color: #0087c1;
    border: 0;
    color: #2dc0ff;
    font-weight: normal;
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(0,0,0,1);
    padding-left: 30px;
    padding-right: 30px;
    width: 178px;
}

.main-header > .navbar {
    display: inline-block;
    float: right;
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
    margin-right: 20px;
}

.dropdown.tasks-menu .lozenge.empty {
    background: #006e9e;
}

.dropdown.tasks-menu .lozenge {
    background: #15d6cb;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: .135em;
    height: 22px;
    line-height:16.66px;
    font-weight: 600;
    display: inline-block;
    padding: 2px;
    text-align: center;
    border-radius: 14.66667px;
    min-width: 35px;
}

.main-header .logo {
    width: 120px !important;
}

.control-sidebar {
    position: absolute;
    padding-top: 50px;
    z-index: 1010;
}

.fixed .main-sidebar {
    position: absolute;
    padding-top: 50px;
    top:50px;
    z-index: 1010;
    padding: 0px !important;
}
.fixed .main-header, .fixed .left-side {
    position: fixed;
/*    top: 38px; */
    background: #00a0e5;
}


.main-sidebar, .left-side {
    padding-top: 12px !important;
}

.main-header a {
    float: left;
    padding: 15px;
}

.skin-blue .wrapper, .skin-blue .main-sidebar {
    box-shadow: 2px 2px 3px 0 rgba(178,181,185,0.7);
    background: white !important;
    z-index: 9999;
    /* top: 50px; */

}

.content-wrapper {
    margin-left: 0px !important;
    padding-top: 100px !important;
}
.content-wrapper, .right-side {
    background-color: white !important;
}

ul.sidebar-menu-item
{
    background:none;
    height:50px;
    width:100px;
    margin:0;
    padding:0;
}

ul.sidebar-menu-item li
{
    display:inline;
    list-style:none;
    margin-left:auto;
    margin-right:auto;
    top:0px;
    height:50px;
}

ul.sidebar-menu-item li a
{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:none;
    font-weight:bolder;
    color:#FFF;
    height:50px;
    width:auto;
    display:block;
    text-align:center;
    line-height:50px;
}

.sidebar > .row {
    margin-right: 0px;
    margin-left: 0px;
}


.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #006e9e !important;
    border-left-color: #006e9e !important;
}



.main-sidebar ol, ul, ol li, ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}

.main-sidebar ol li:hover, ul li:hover {
    color: #2d2d2d;
    background-color: #afd9ee;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

/*
.main-sidebar {
    border: 0;
    box-shadow: 2px 2px 3px 0 rgba(178,181,185,0.7);
    padding: 0;
    top: 50px;
    display: inline;
    position: absolute;
    background: #fff;t
    border: 1px solid #b0b0b0;
    text-align: left;
    z-index: 15010;
}
*/

.control-sidebar-bg,
.main-sidebar {

    top: 0;
    left: -230px !important;
    width: 230px;
    -webkit-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
}

.main-sidebar .knob {
    padding-left: 0;
    color: white;
    background: #006e9e;
    width: 50px;
    height: 50px;
    text-align: center;
}

/*
.main-sidebar .knob:hover {
    background-color: #afd9ee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
*/

.main-sidebar ul li a {
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    vertical-align: middle;
    color: #2d2d2d;
}

.main-sidebar ul li a div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}

.main-sidebar .knob.remainder {
    height: 100vh;
}

.menu.popup_drawer {
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,0,0,1);
    width: 215px;
    height: 100vh;
    left: 0;
}


.main-sidebar.main-sidebar-open,
.main-sidebar.main-sidebar-open + .main-sidebar-bg {
    left: 0px !important;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0,0,0,1);
    display: block !important;
}


@media (min-width: 768px) {
    .main-sidebar-open .content-wrapper,
    .main-sidebar-open .right-side,
    .main-sidebar-open .main-footer {
        margin-left: 230px;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0,0,0,1);

    }
}

#side-bar {
    position: fixed;
    right: 0px;
}
#side-bar .primary_action_panel .panel {
    margin-top: 10px;
/*    width: 250px; */
/*    border: 1px solid #eaebec;
    border-radius: 3px; */
    color: #00a0e5;
    font-size: 14px;
}

#side-bar .primary_action_panel .panel a {
    color: #00a0e5;
    font-size: 16px;
    font-weight: 600;
}

#side-bar .primary_action_panel dl > dt {
    padding-top: 10px;

}

#side-bar .sidebar_content {
    margin-bottom: 15px;
}


#side-bar .sidebar_content > .actions {
    margin-top: 10px;
/*    width: 250px; */
    border: 1px solid #eaebec;
    border-radius: 3px;
    background: #f0f7fe;
}

#side-bar .sidebar_content > .actions label {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #dddee0;
    background: #e3f1fc;
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #606060;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: .135em;
    padding: 10px;
}

#side-bar .sidebar_content > .actions li {
    padding-top: 10px;
    padding-left: 10px;
}

#side-bar .sidebar_content > .actions li:hover {
    background: #f0f7fe !important;
}

#side-bar .workspace_list_sidebar .workspace_member_list .members,
#side-bar .workspace_show_sidebar .workspace_member_list .members {
    margin-top: 10px;
/*    width: 250px; */
    border: 1px solid #eaebec;
    border-radius: 3px;
}

#side-bar .sidebar_content > .actions li a:hover {
    text-decoration: underline;
}

#side-bar .workspace_list_sidebar .workspace_member_list .members ul,
#side-bar .workspace_show_sidebar .workspace_member_list .members ul {
    padding-bottom: 0px;
}


#side-bar .workspace_list_sidebar .workspace_member_list .members ul > li,
#side-bar .workspace_show_sidebar .workspace_member_list .members ul > li {
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    width: 38px;
/*    padding-top: 10px;*/
/*    padding-left: 10px; */
    margin: 8px;
}

.icon img.profile, img.profile.icon {
    width: 38px;
    height: 38px;
}

img.profile {
    background: #fff;
    padding: 2px;
    border: 1px solid #eaebec;
    border-radius: 5px;
    object-fit: cover;
}

#side-bar .sidebar_content .tab_control {
    margin-top: 10px;
/*    width: 250px; */
    border: 1px solid #eaebec;
    border-radius: 3px;
}

#side-bar .sidebar_content .tab_control .tabs {
    padding: 0;
    border-bottom: 1px solid #eaebec;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #f0f7fe;
}

#side-bar .sidebar_content .tab_control .tabs li {
    display: inline;
    padding: 0;
    cursor: pointer;
    list-style: none;
}

#side-bar .sidebar_content .tab_control .tabs li .lozenge {
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: .135em;
    height: 21px;
    line-height: 21px;
    font-weight: 600;
    display: inline-block;
    padding: 0;
    text-align: center;
    border-radius: 19px;
    min-width: 40px;
    font-size: 12px;
    color: #464646;
    padding: 0 10px;
}

.tab_control .tabs li.selected .lozenge {
    background: #006e9e;
    color: #fff !important;
}

#side-bar .sidebar_content .tab_control ul {
    padding-bottom: 10px;
}

#side-bar .sidebar_content .tab_control li {
    padding-top: 10px;
    padding-left: 10px;
}

#side-bar .sidebar_content .tab_control li.activity .activity_item {
    padding: 10px 10px 12px 10px;
    position: relative;
    overflow: visible;
}


#side-bar .sidebar_content .tab_control a {
    color: #00a0e5;
    font-size: 14px;
}

.activity_content .activity_header, .activity_content .comment_header, .comment_content .activity_header, .comment_content .comment_header {
    word-wrap: break-word;
    font-size: 14px;
    font-weight: normal;
    color: #606060;
}

.activity_content .actions, .comment_content .actions {
    margin-top: 5px;
}

.activity_content .actions .timestamp, .comment_content .actions .timestamp {
    font-size: 12px;
    font-weight: normal;
    color: #8a8b93;
    line-height: 20px;
}

#breadcrumb {
    padding-top: 0px;
    margin-right: 282px;
}

#breadcrumb ol.list_breadcrumb {
    padding-left: 0px !important;
    list-style: none;
}

#breadcrumb ol.list_breadcrumb > li {
    display: inline;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    word-break: break-all;
    word-wrap: break-word;
    max-width: 245px;
    vertical-align: top;
    margin-right: 0px;

}

#breadcrumb ol.list_breadcrumb > li a {
    color: #2d2d2d;
    margin-right: 10px;
    font-size: 16px;
}

#breadcrumb ol.list_breadcrumb > li a:hover {
    text-decoration: underline;
}
#breadcrumb ol.list_breadcrumb > li a:after {
    font-family: "FontAwesome";
    content: "\f0da";
    margin-left: 10px;
    font-size: 16px;
    color: #7d7d7d;
}

.chorus-box {
    min-height: 180px;
    padding: 10px 10px 15px 10px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid #eaebec;
    border-top-color: #dddee0;
    position: relative;
    background: #ffffff;
    width: 100%;
    margin-bottom: 20px;
}

.chorus-box ol {
    padding-left: 0px;
}

.chorus-box ol > li {

}

.chorus-box ol > li a {
    font-size: 16px;
    font-weight:   600;
}

#admin_dashboard .admin-snapshot {

}

#admin_dashboard .admin-snapshot ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

#admin_dashboard .admin-snapshot ul > li {
    display: inline-block;
/*    margin-right: 10px; */
    width: 18%;

}

#admin_dashboard .admin-snapshot ul > li .squareish {
/*    width: 220px; */
    height: 140px;
    display: block;
}

#admin_dashboard .admin-snapshot ul > li .squareish .total {
    padding-top: 10px;
    font-size: 56px;
    line-height: 56px;
}

#admin_dashboard .admin-snapshot ul > li .squareish.users .total {
    color: #f2ab0d;
}

#admin_dashboard .admin-snapshot ul > li .squareish.teams .total {
    color: #56ae00;
}

#admin_dashboard .admin-snapshot ul > li .squareish.scopes .total {
    color: #0090f0;
}

#admin_dashboard .admin-snapshot ul > li .squareish.data_sources .total {
    color: #9e1b74;
}

#admin_dashboard .admin-snapshot ul > li .squareish.jobs .total {
    color: teal;
}




#admin_dashboard .admin-snapshot ul > li .squareish .model {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 600;
    color: #2d2d2d;
}

#admin_dashboard .admin-snapshot ul > li:hover {
    background: #fff;
}

#admin_dashboard .admin-snapshot ul > li .squareish  .increment {
    padding-top: 0px;
/*    line-height: 56px; */
    color: #464646;
    font-size: 12px;
    font-weight: normal;
}


.dropdown.user-menu {
    line-height: 24px;
    text-align: left;
}

.dropdown.user-menu ul.dropdown-menu > li {
    display: inline-block;
    width: 100%;
}


.dropdown.user-menu ul.dropdown-menu  > li a:hover {
    background-color: #afd9ee;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.dropdown.user-menu ul.dropdown-menu > li.underline {
    border-bottom: 1px solid #eaebec;
}


.dropdown.user-menu ul.dropdown-menu li > a {
    height: 40px;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    line-height: 40px;
    color: #000;
    font-size: 16px;
}

.dropdown.user-menu .menu-container {
    box-shadow: 2px 2px 3px 0 rgba(178,181,185,0.7);
    display: block;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    border-radius: 0px !important;
    padding-top: 0px;
    width: 180px;
    box-shadow: 2px 2px 3px 0 rgba(178,181,185,0.7);

}

.modal-dialog .modal-header {
    background: #ddecfa;
    border-bottom: 1px solid #eaebec;
    /*line-height: 40px; */
    -ms-word-break: break-all;
    word-break: break-all;

}
.modal-dialog .modal-header h1 {
    font-size: 16px;
    font-weight: 700;
    color: #606060;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: .135em;
    vertical-align: middle;
    margin: 0;
    padding-right: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-dialog .modal-header .close {
    color: #8a8b93;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}


.modal-dialog .modal-header .fa {
    display: inline-block;
    font: normal normal normal 14px/17px FontAwesome;
    color: #8a8b93;
    font-size: 16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal-dialog .modal-footer {
    background-color: #ddecfa;
    border-top: 1px solid #eaebec;
    display: block;
    width: 100%;
    min-height: 50px;
    padding: 10px;
}

.modal-dialog .modal-footer button.modalish.cancel,
.modal-dialog .modal-footer .button_modalish.close_dialog
{
    min-width: 75px;
    margin-right: 0;
    color: #2c95dd;
    border: 0;
    background: transparent;
    box-shadow: none;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    min-height: 30px;

}

.modal-dialog .modal-footer input.btn {
    #background-color: #26aee9;
    background: linear-gradient(#26aee9 0,#43b8ec 100%);
    text-overflow: ellipsis;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
    min-width: 86px;
    border-radius: 3px;
    height: 30px;
    padding-top: 2px;
}

.box-header .box-title {
    font-weight: 600 !important;
    font-size:  20px!important;
}

.no-padding {
    padding: 0 !important;
}

.page_sub_header  {
    position: fixed;
    width: 100%;
    min-width: 1024px;
    height: 59px;
    margin-top: 50px;
    background: #f0f5fa;
    border-bottom: 1px solid #eaebec;
    z-index: 14999;
    margin-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
}


.page_sub_header #sub_header_pagetitle {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
    color: #606060;
    font-size: 20.5px;
    line-height: 60px;
    text-decoration: none;
}

.page_sub_header .configure {
    width: 35px;
    text-align: center;
    line-height: 23px;
    height: 23px;
    border-radius: 3px;
    background-image: linear-gradient(0,#e9eaee 0,#f3f4f7 100%);
    color: #757575;
    border: 1px solid #d7dfe7;
}

.page_sub_header .right {
    float: right;
    width: 3%;
}

.modal .modal-dialog-center {
    margin-top: 10% !important;
}

.modal-content .dialog-header {
    background: #71E2C6;
}


.dual-list .list-group {
    margin-top: 8px;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-arrows {
    padding-top: 100px;
}

.list-arrows button {
    margin-bottom: 20px;
}


ul.member-list li.avatar {
    width: 10%;
}
ul.member-list li.fullname {
    width: 35%;
    text-align: left;
    color: #00a0e5;
    font-size: 14px;
}

ul.member-list li.username {
    width: 35%;
    text-align: left;
}

ul.member-list li.scope_name {
    width: 80%;
    text-align: left;
}

ul.member-list li.action {
    width: 15%;
    text-align: right;
}

ul.member-list .name {
    color: #00a0e5;
}

.list-group-item {
    padding-right: 0px !important;

}


.list-group-item .remove-list-item {
    color: #606060;

}

.list-group-item .add-list-item {
    color:#00a0e5;

}
.list-group-item:hover,  .list-group-item .list-inline li:hover{
    background-color: #fff !important;
    /* border-color: #fff !important; */
    cursor: pointer !important;
    border: 0px !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #fff !important;
    /* border-color: #fff !important; */
    cursor: pointer !important;
    border: 0px !important;
}

/*
.tooltip {
    position: fixed;
    z-index: 99999;
}
*/
