<div class="history_entry">

    <div class="run_version">{{number}}</div>
    <!-- <div class="run_time">{{dateString}}</div> -->
    <div class="run_time_relative" title="{{dateString}}">{{relativeTime}}</div>
<!-- 
    <div class="delete_entry">
        <a class="delete_link alert delete_notification" href="#" title="Delete this history entry"><span class="fa fa-trash delete"></span></a>
    </div>
 -->
</div>
