{{!-- shell for workflow output in worklet RUN workbench --}}
{{#if hasNoResults}}
    <div class="placeholder_section">
        <img src="http://placekitten.com/g/700/500">
        <br>
        Michel: Change me.
    </div>
{{/if}}

<div id="workletResults_loading" class="hidden">
    {{t "general.loading"}}
</div>

<div class="iframe_wrapper">

    <!-- <div style="display: inline-block;"> -->
    <div>
        {{#if isPublished}}
            <div class="form_controls" id="share_all_results">
                <button class="submit modalish">{{t "worklet.results.share_these_results.button"}}!</button>
            </div>
        {{/if}}

        <iframe id="results" src="{{resultsUrl}}"></iframe>
    </div>

</div>