<div id="share_results_loading" style="padding: 10px 20px; height: 500px; width: 800px;">
    <div id="spinner_container">
        <div id="spinner"></div>
    </div>
    <div id="elapsed_time_container">
        {{t 'general.running'}}
        <br>
        <br>
        {{t 'worklet.run.elapsed_time'}} <span id="elapsed_time"></span>
    </div>
</div>

<div class="iframe_wrapper">
    <iframe id="testResults_frame"></iframe>
</div>

{{> closeWindowFormControls }}
