<div class="worklet_workflow_configuration">
    <div class="main_header">Configure Worklet</div>

    <b>Worklet Workspace</b>
    <br>

    <div class="description_instructions">
        Define the workflow used by this worklet.
    </div>
    <br>

    <div class="worklet_workflow_details">
        Workflow id: {{workflow.id}}
    </div>
</div>