{{!-- partial --}}
<!-- <div> -->
    <a href="#" class="scroll_input_param" title="{{t 'worklet.edit.inputs_sidebar.input_goto_edit.tooltip'}}">
    <span class="fa fa-map-marker"></span>
    </a>
<!-- </div> -->
