<div class="card worklet_catalog_card" style="background: url('{{ avatarUrl }}');">
    <a href="{{url}}">
        <div class="internal">
            <h3>{{fileName}}</h3>

            <p>{{ description }}</p>
        </div>
    </a>
</div>