
<!--
<div id="workletResults_loading">
    <div id="loading_doohickey">
        <div class="spinner_container"></div>
        <p class="loading_title">{{t "general.running" }}</p>
        <p class="loading_time">{{t "worklet.running_time_information.label"}}<span id="load_time">00:00:00</span></p>
    </div>
</div>
 -->
<!-- TODO update and reconcile the css of below to above -->

<div id="share_results_loading" style="padding: 10px 20px; height: 280px; width: 800px;">
    <div id="spinner_container">
        <div id="spinner"></div>
    </div>
    <div id="elapsed_time_container">
        <p class="loading_title">{{t "general.running" }}</p>

        <p class="loading_time">
            {{t "worklet.running_time_information.label"}} <span id="elapsed_time"></span>
        </p>
    </div>
</div>

<div class="iframe_wrapper">
    <iframe id="testResults_frame" style="display: none;"></iframe>
</div>

{{> closeWindowFormControls }}
