{{!-- partial --}}
<div class="buttons">
    <a href="#" class="delete_input_param" title="Delete this parameter"><span class="fa fa-trash"></span></a>
    <a href="#" class="scroll_input_param" title="Go to this parameter"><span class="fa fa-gear"></span></a>
</div>
