@font-face {
  font-family: 'Source Sans Pro';
  font-weight: $light;
  src: asset-url('sourcesanspro/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: normal;
  src: asset-url('sourcesanspro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: $semibold;
  src: asset-url('sourcesanspro/SourceSansPro-Semibold.ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  src: asset-url('sourcesanspro/SourceSansPro-Bold.ttf');
}
