<!DOCTYPE html>
<html>
<head>
  <title>Worklet</title>
  <%= stylesheet_link_tag    "worklet/application", :media => "all" %>
  <%= javascript_include_tag "worklet/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
