<div class='chorus-box'>
  <div class='box-header'>
    <h3 class='box-title'><%= t('scopes')%></h3>
  </div><!-- /.box-header -->
  <div class='box-body'>
      <p><%= image_tag('comingsoon.jpg', :alt => '[Coming Soon]') %></p>
  </div><!-- /.box-body -->
</div>