<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title"><%= data_source.name%></h3>
  </div><!-- /.box-header -->

    <div class="box-body">
      <dl class="dl-horizontal">
        <dt>Description</dt> <dd> <%= data_source.description%> </dd>
        <dt>Type</dt> <dd> <%= data_source.type%> </dd>

      </dl>
   </div>
 </div>