<div class="chorus-box">
  <div class="box-header with-border">
    <h3 class="box-title"> <%= t("application_settings")%> </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <ol>
      <li> <%= link_to t("general_settings") , admin.users_path , :remote => true %> </li>
      <li> <%= link_to t("application_preferences") , admin.users_path , :remote => true %> </li>
    </ol>
  </div><!-- /.box-body -->
</div>


