<div class="chorus-box">
  <div class="box-header with-border">
    <h3 class="box-title"> <%= t("default_settings")%> </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <ol>
      <li> <%= link_to t("defaults_new_people") , admin.default_settings_admin_index_path(for: 'people') , :remote => true %> </li>
      <li> <%= link_to t("defaults_new_workspaces") , admin.default_settings_admin_index_path(for: 'workspaces') , :remote => true %> </li>
      <li> <%= link_to t("defaults_new_data") ,admin.default_settings_admin_index_path(for: 'data') , :remote => true %> </li>
    </ol>
  </div><!-- /.box-body -->
</div>


