
<div class="multiple_selection hidden"></div>
<div class="workspace_show_sidebar sidebar_content primary panel" data-template="workspace_show_sidebar">


  <div class="actions">
    <label>
     Actions
    </label>
    <ul>
      <li><%#= link_to t("Edit Site Title") , admin.new_user_path , :remote => true %></li>
      <li> <%#= link_to t("Edit Admin Contact") , admin.users_path , :remote => true %> </li>
    </ul>
  </div>




</div>