


<div class="chorus-box">
  <div class="box-header with-border">
    <h3 class="box-title"> <%= t("user_management")%> </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <ol>
      <li> <%= link_to t('people') , admin.users_path ,:remote => true %> </li>
      <li> <%= link_to t('teams') , admin.teams_path ,:remote => true %> </li>
    </ol>
  </div><!-- /.box-body -->
</div>


