<div class="box box-solid">
  <div class="box-header with-border">
    <h3 class="box-title"> <%= t("user_management")%> </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <dl>
      <dt> <%= link_to t('people') , admin.users_path  %> </dt>
      <dt> <%= link_to t('teams') , admin.users_path  %> </dt>

    </dl>
  </div><!-- /.box-body -->
</div>


