<div class="chorus-box">
  <div class="box-header with-border">
    <h3 class="box-title"> <%= t("workflow_settings")%> </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <ol>
      <li> <%= link_to t("workflow_editor_preferences") , admin.workflow_editor_pref_admin_index_path , :remote => true %> </li>
    </ol>
  </div><!-- /.box-body -->
</div>


