.breadcrumbs {
    ol {
        // padding: $padding-y ($padding-x + $guts-padding + 1px);
        padding: $padding-y $padding-x;
    }

    li {
        display: inline;
        font-size: $list-breadcrumb-size;
        font-weight: normal;
        color: $color-text2;
        word-break: break-all;
        word-wrap: break-word;
        max-width: 245px;
        vertical-align: top;
    }

    a {
        color: $color-text1;
        margin-right: $padding-x;
        font-size: $list-breadcrumb-size;
    }

    .slug {
        font-weight: $semibold;
    
    }
}