@import "_common";

.hdfs_show_file_details {
    text-align: right;
    vertical-align: middle;

    .errors {
        margin-left: -$padding-x;
        margin-right: -$padding-x;
    }
}

#chiasm-container {
    width: 100%;
    height: 500px;
}

/* Axis CSS from bar chart example http://bl.ocks.org/mbostock/3885304 */
#chiasm-container .axis {
    font: ans-serif;
}

#chiasm-container .axis path,
#chiasm-container .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Custom CSS for axis labels. */
#chiasm-container .axis-label {
    text-anchor: middle;
    font-size: 2em;
}