$font-family-sans-serif: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;

$brand-primary: #00a0e5;
$brand-danger: #D43A0B;

$screen-sm-min: 10000;
$navbar-default-bg: $brand-primary;
$navbar-default-link-color: white;
$navbar-default-toggle-icon-bar-bg: white;
$navbar-default-toggle-border-color: transparent;
$navbar-border-radius: 0;