<div class="col-md-6 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">User Management</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Roles", roles_path %></li>
      </ul>
    </div>
  </div>
</div>
</div>
