<div class="row form_controls" id="share_results" style="padding-top: 10px; float: left; display: none;">
    <button class="submit modalish">Share These Results</button>
</div>
<div class="iframe_wrapper">
    <iframe id="results" src="{{resultsUrl}}" style="width: 100%; height: 0px; border: none;"></iframe>
</div>