@import "_browser_support";
@import "_common";
@import "compass/css3/border-radius";


$about-header-background: $dialog-header-background;

$about-border-color: lighten($color-text3, 40%);

#about_box {

    $card-width: 520px;
    $card-from-top: 150px;
    $card-border-radius: 5px;
    $card-border-width: 5px;
    
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: $card-from-top;
            
    width: $card-width;

    font-size: $medium-font;

    border: $border-canon;

    border: $card-border-width solid $about-border-color;
    background-color: $body-background-color;
    @include border-radius($card-border-radius);

        
    .title {
//     	  @include border-top-radius($default-border-radius);

        background-color: $about-header-background;
        padding: 20px;
        font-weight: 600;
    }

    .content {
        .text {
            padding: 10px;
        }
        .items li {
            // special case for the about screen
            padding-left: 20px;
        }
        .about_item {
            float: right;
            margin-right: 10px;
        }
    }
    
    .legal {
            p {
                padding-bottom: 12px;
                span {
                    display: inline-block;
                }
            }    
    
    }
    
    
}
