@import "_common";
@import "compass/css3/border-radius";


$login-card-border-width: 5px;
$login-card-border-canon: $login-card-border-width solid $color-text3;


div.login {
    $card-height: 420px;
    $card-padding-top: 45px;
    $card-width: 620px;
    $card-top: 150px;
    $card-border-radius: 5px;
    
    $form-width: 260px;
    $image-fudge: 25px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: $login-background;

    .errors,
    .warning {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: $card-width + (2 * $login-card-border-width);
        background-color: transparent;
        top: 30px;
        
        ul {
          li {
            margin-left: 0;
            margin-right: 0;
          }
        }
    }

    .form_controls {
      margin-top: 15px;
      padding-right: 0px;
      padding-left: 0px;
    }

    #login_content {
        position: relative;
        top: $card-top;
    }

    #login_card {
        margin-left: auto;
        margin-right: auto;

        border: $login-card-border-canon;
        background-color: $body-background-color;
        @include border-radius($card-border-radius);

        width: $card-width;
        height: $card-height - $card-padding-top;
        padding-top: $card-padding-top;
       //  overflow: auto;
	}

        form {
            width: $form-width;
            display: block;
            margin-left: auto;
            margin-right: auto;
            
            .form_pair {
                label {
                    margin-bottom: 1px;
                }
            }
            
            input {
                border: $darker-border-canon;
                @include border-radius($default-border-radius);
                height: 35px;
                margin: 0 0 10px 0;
            }

            button {
                font-size: 16px;
                height: 36px;
                width: 100%;
                margin: 0px;
            }
        }
        
	.logo {
	    display: block;
	    margin-bottom: $image-fudge;
	            
        &.alpine {
            margin-left: auto;
            margin-right: auto;
            width: 320px;
        }
        
        &.pivotal {
            margin-left: auto;
            margin-right: auto;
        }
    }
    

    #login_footer {
        margin-left: auto;
        margin-right: auto;

        width: $card-width;
        color: $color-text3;
        font-size: $small-font;
        text-align: center;

        .legal {

            p {
                padding-bottom: 12px;
                span {
                    display: inline-block;
                }
            }
        }
    }
}