@import "_common";
@import "layout/_header";
@import "compass/css3/box-shadow";

$workbench-module-title-height: 35px;
$workbench-module-padding: 10px;
$title-height: $workbench-module-title-height - $workbench-module-padding;

$worklet-left-column-width: 200px;
$worklet-right-column-width: 350px;
$worklet-column-padding-x: $padding-x;
$worklet-column-padding-y: $padding-x;


$worklet-history-item-normal-color: #CCC;
$worklet-history-item-selected-color: $accent-shade;
        

/* page layout        */
div[data-page="WorkletEdit"],
div[data-page="WorkletRun"] {
  .sub_nav {
    padding-left: 0;
  }

  #left {
    margin-right: $worklet-right-column-width;
  }

  #sidebar_wrapper {
    width: $worklet-right-column-width;

    #sidebar {
      /* position: absolute; */
      /* width: 266px; */
      /* padding-left: 16px; */
      /* padding-top: 10px; */
      padding-left: 0;
      padding-top: 0;
      top: 0;
      right: 85px;
      bottom: 0;
    }
  }
}

div[data-page="WorkletRun"],
div[data-page="PublishedWorkletShow"] {
    .content_header {
      display: none;
    }
}

div[data-page="PublishedWorkletShow"] {
  .sub_nav {
    margin-top: 50px;
    padding-left: 0;
  }

  #left {
    margin-right: $worklet-right-column-width;
    margin-top: 30px;
  }

  #sidebar_wrapper {
    width: $worklet-right-column-width;

    #sidebar {
      /* position: absolute; */
      /* width: 266px; */
      /* padding-left: 16px; */
      /* padding-top: 10px; */
      padding-left: 0;
      padding-top: 0;
      top: 45px;
      right: 85px;
      bottom: 0;
    }
  }
}
/* END page layout */

.content_header {
  padding: 0;
}

.worklets_worklet_header {
  //max-height: 120px;
  //width: 99%;
  //margin-top: -35px;
  //overflow: hidden;

  position: relative;
  background-color: $shaded-background-color;


  .menus {
    position: absolute;
    right: 10px;
    top: 0;
    margin-top: 0px;
  }

  .popup_worklet_menu {
    line-height: 24px;
    // account for 1px border around popup
    right: 0;
    width: $header-margin * 6;

    li {
      @include username-item-link($menu-item-height-default);
    }
  }

  .icon {
    max-height: 40px;
    margin-left: 7px;
    float: left;
  }

  .item_information {
    margin-left: 55px;
  }
}


.worklets_worklet_parameter_sidebar {
  background-color: $pattens-blue;
  width: $worklet-right-column-width;          /* RC width */
  height: 100%;
  margin-right: -$worklet-right-column-width;  /* RC width */

  .title {
    width: $worklet-right-column-width - (2 * $worklet-column-padding-x);
    padding: 10px 0 10px 20px;
    background: $accent-shade;
    border-top: $dark-border-canon;
    border-bottom: $dark-border-canon;
  }


  // Common to all parameters
  .worklet_parameter {
    min-height: 80px;
    background-color: $core-white;
    border: $dark-border-canon;
    margin: 3px;

    .title_bar {
      position: relative;
      height: 25px;
      line-height: 25px;
      background-color: $shaded-background-color;

      .title_text {}

      .buttons {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .content {
      margin: 5px;
      width: $worklet-right-column-width - 18px;
      .input_section {
        .label {
          font-weight: $bold;
        }

        .text_input {
          width: $worklet-right-column-width - 25px;
          margin: 5px;
        }

        .single_select_input {
          width: $worklet-right-column-width - 25px;
          margin: 5px;
        }

        .multiple_select_container {
          .multiple_select_input {
            float: left;
            text-align: left;
            font-size: $small-font;
            word-wrap: break-word;
            width: ($worklet-right-column-width - 50px)/2;
            max-width: ($worklet-right-column-width - 50px)/2;
            margin: 5px;
          }
        }
      }

      .description {
        font-size: $small-font;
        color: #CCC;
      }
    }
  }

  // No parameters = EMPTY
  .no_parameters_notice {
    height: 50px;
    line-height: 50px;
    background-color: $shaded-background-color;
    border: $dark-border-canon;
    margin: 3px;
    
    //TODO revise to use normal marker display for emty message
    .notice_icon {
      margin-left: 10px;
      margin-right: 10px;
      color: #2c95dd;
    }
  }

  // Pending type assignment parameter
  .worklets_parameters_worklet_parameter {
    .content {
      text-align: center;
      line-height: 50px;
      color: $disabled-text;
    }
  }

  // Text parameter
  .worklets_parameters_worklet_text_parameter {
    .content {
      .input_section {}
    }
  }

  // Number parameter
  .worklets_parameters_worklet_numeric_parameter {}


  .parameter {
    padding: 8px;

    .label {
    }

    .description {
      font-size: $small-font;
      font-color: #CCC;
    }

    input.textInput {
      width: 250px;
    }

    select {
      min-width: 200px;
    }

    .checkboxes {
      padding: 5px;
      background-color: $core-white;
    }
  }

  .spinner_div {
      display: none;
      color: $color-text4;
      font-size: 12px;
      position: absolute;
      right: 15px;

    .loading_spinner {
        left: 8px;
        top: 8px;
    }
  }
}

.worklets_worklet_editor_subheader {

  // workletSteps = breadcrumb = worklet steps bar
  .workletSteps {
  
    $background-color-workletSteps-container: #cddcf3;
    $text-color-past: #FFFFFF;
    $text-color-future: $charcoal;
    $background-color-workletStep-past: #415885;
    $background-color-workletStep-current: #006ba1;
    $background-color-workletStep-future: #FFFFFF;
    $background-color-workletStep-hover: $background-color-workletStep-current;
    
    // height & width of an individual step
    $workletStep-height: 30px;
    $workletStep-width: 110px;
    
    // space between steps
    $workletStep-separation: 2px;

    width: 100%;
    background: $background-color-workletSteps-container;
    padding: 10px 0 10px 0;
    font-size: $medium-font;
    display: inline-block;

    
    a {
        width: $workletStep-width;
        text-decoration: none;
        outline: none;
        display: block;
        float: left;
        line-height: $workletStep-height;
        padding: 0 10px 0 60px;
        position: relative;
      
        &:first-child {
            padding-left: 46px;
            border-radius: 20px 0 0 20px;      
        }
      

        &:last-child {
            border-radius: 0 20px 20px 0;
            padding-right: 20px;
          
            &:before {
                left: 14px;
            }
            
            &:after {
                content: none;
            }   
        }

        &:before {
          border-radius: 100%;
          width: 20px;
          height: 20px;
          line-height: 20px;
          margin: 8px 0;
          position: absolute;
          top: 0;
          left: 30px;
          font-weight: $bold;
        }

        // Trickery for the arrow
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: -$workletStep-height / 2;

          width: $workletStep-height;
          height: $workletStep-height;

          // sqrt(2)/2
          transform: scale(.7071) rotate(45deg);
          z-index: 1;

          // $background-container: #cddcf3 = rgb(205, 220, 243)
          // offset-x | offset-y | blur-radius | spread-radius | color
          box-shadow:
            2px -2px 0 2px rgba(205, 220, 243, 1),
            3px -3px 0 2px rgba(205, 220, 243, 0.1);

          border-radius: 0 5px 0 50px;
        }  
    }


    .past,
    a.past:after {
      background: $background-color-workletStep-past;
      color: $text-color-past;
    }

    .current,
    a.current:after {
      background: $background-color-workletStep-current;
      color: $text-color-past;
    }

    .future,
    a.future:after {
      background: $background-color-workletStep-future;
      color: $text-color-future;
    }
    a.future:hover {
      color: $text-color-past;
    }

    a:hover,
    a:hover:after {
      background: $background-color-workletStep-hover;
    }
    

  }
}

.worklet_inputs_configuration,
.worklet_details_configuration {
  margin-top: 5px;
}

.worklets_parameters_worklet_numeric_parameter {
  border: 1px solid $border-color-darkest;
}

.worklet_new_dialog,
.worklet_inputs_configuration,
.worklet_details_configuration,
.worklet_outputs_configuration,
.worklet_workflow_configuration {
  .worklet_param {
    border: 1px solid $border-color-darkest;
    margin: 5px;

    .input_section {
      .disabled {
        color: $disabled-text;
      }
      margin: 10px;
    }

    .workflow_variable {

    }

    .option_edit {
      margin-top: 5px;

      .delete_icon {
        color: red;
      }
      table {
        border-spacing: 5px;
        border-collapse: separate;
        th {
          background-color: lightgray;
          text-align: left;
        }
        td {
          text-align: left;
        }
        .row_num_col {
          background-color: lightgray;
          min-width: 10px;
        }
        .option_input_col {
          padding: 2px;
          width: 250px;
        }
        .value_input_col {
          padding: 2px;
          width: 150px;
        }
        .delete_col {
          width: 20px;
        }
      }
    }
  }

  select.workflow_variable, .ui-selectmenu-button .ui-button {
    display: block;
    min-width: 215px;
  }

  .image_instructions {
    margin-left: 10px;
    font-size: $small-font;
    color: $color-text4;
  }

  .description_instructions {
    font-size: $small-font;
    color: $color-text4;
  }

  .worklet_image {
    background-size: cover;
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 5px;
  }

  .main_header {
    font-size: $page_header-fontsize;
    height: 40px;
    padding-top: 10px;
    padding-left: 5px;
    margin-bottom: 5px;
  }

  .section_header {
    height: 25px;
    background-color: $dialog-header-background;
    border-bottom: $border-canon;

    line-height: 25px;
    padding: 0 $default-padding-horizontal;
    word-break: break-all;

    font-size: $medium-font;
    font-weight: $semibold;
    color: $color-text3;

    .section_controls {
      float: right;
    }
  }

  .workflow_details {
    // margin: 5px;
      .item_name {
          padding-top: 12px;
          .item_description {
              font-weight: bold;
  }
      }
  }

  .workfile_image {
  }

  #workfile_image_container {
    border: 1px solid $border-color-darkest;
    max-width: 100%;
    max-height: 400px;
    margin: 10px;
    overflow: scroll;
    position: relative;

    .image_operator {
      position: absolute;
      width: 40px;
      height: 40px;
    }

    .bordered {
        border: 5px solid #399ccd;
        border-radius: 5px;
        @include single-box-shadow(rgba(50, 50, 50, 0.75), 4px, 4px, 2px, 0px);
    }
  }

  .spinner_div {
    display: none;
    color: $color-text4;
    font-size: 12px;
    position:absolute;
    right: 15px;

    .loading_spinner {
      left: 8px;
      top: 8px;
    }
  }
}

.no_history {
  padding-left: 0 !important;
}

.worklet_panel {
  border: 1px solid #F00;

  .header {
    padding: 10px 0 10px 10px;
    //         border-top: $dark-border-canon;
    //         border-bottom: $dark-border-canon;

    .title {
        display: inline-block;
        font-size: $medium-font;
        color: $color-text2;
        @include ellipsis;
    }
  }
}


// *********
// worklet history panel
.worklet_history {
    width: $worklet-left-column-width; /* LC width */
    height: 100%;
    right: $worklet-left-column-width; /* LC width */
    // margin-left: -100%;

    .header {
        max-width: $worklet-left-column-width - (2 * $worklet-column-padding-x);
//         padding: 10px 0 10px 20px;
        
        background: $accent-shade;
    }

    .history {
        padding: $worklet-column-padding-x;
        background-color: lightgray;

    }

    .history_item {
    
        $run_version_width: 25px;

        background-color: $core-white;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        
        margin-bottom: 8px;
        padding: 7px;
        cursor: pointer;
    
        .run_version {
            // position: relative;
            width: $run_version_width;
            float: left;
            
            font-weight: $semibold;
            font-size: $medium-font;
            text-align: right;
        }
        .run_time_relative {
            position: relative;
            
            margin-left: $run_version_width + 10px;
            margin-top: 2px;
            font-weight: normal;
            font-size: $small-font;
        }
        
    }
        
    .history_item_selected {
        .history_item {
            background-color: $worklet-history-item-selected-color;
        }
    }
    
    .empty_state {
        position: relative;
        font-size: $small-font;
        .empty_message {
            margin-left: 25px;
        }
        
    }
}
// END: worklet history panel


.worklets_published_worklet_content {
    position: relative;
    // padding-left: $worklet-left-column-width;   /* LC width */
    // padding-right: $worklet-right-column-width;  /* RC width */

    .worklet_output {
        padding-left: $worklet-left-column-width;
        background-color: $core-white;

        .iframe_wrapper {
            padding: 0 38px;
            // height: 100%;

            iframe {
                width: 100%;
                height: 0px;
                border: none;
                height: 100%;
            }
        }
    }
}

//     .worklet_history {
//         position: absolute;
//         width: $worklet-left-column-width; /* LC width */
//         height: 100%;
//         top: 0;
//         left: 0;
// 
//         .title {
//             width: $worklet-left-column-width - (2 * $worklet-column-padding-x);
//             padding: 10px 0 10px 20px;
//             background: $accent-shade;
//             border-top: $dark-border-canon;
//             border-bottom: $dark-border-canon;
//         }
// 
//         .history {
//             padding:  $worklet-column-padding-x;
//             background-color: lightgray;
//             .history_item {
//                 background-color: white;
//                 border: 2px black;
//                 margin-bottom: 8px;
//                 padding: 7px;
//                 cursor: pointer;
//             }
//         }
//         .history_item_selected {
//             .history_item {
//                 background-color: $accent-shade;
//             }
//         }
//     }

    //>div {
    //    position: relative;
    //    float: left;
    //    padding-bottom: 20000px + $worklet-column-padding-y;  /* X + padding-bottom */
    //    margin-bottom: -20000px;  /* X */
    //}

.worklet_usage_item {
    padding: 5px;
    width: 440px;
}
.worklet_list_item {
    border-top: 2px gray solid;
    border-right: 2px gray solid;
    border-left: 2px gray solid;
    &:last-child {
        border-bottom: 2px gray solid;
    }
}
