@import "_common";
@import "layout/_header";
@import "compass/css3/box-shadow";
@import "compass/css3/filter";

@import "components/_button";

$workbench-module-title-height: 35px;
$workbench-module-padding: 10px;
$title-height: $workbench-module-title-height - $workbench-module-padding;

$worklet-left-column-width: 200px;
$worklet-right-column-width: 350px;
$worklet-column-padding-x: $padding-x;
$worklet-column-padding-y: $padding-x;

$worklet-history-item-normal-color: #CCC;
$worklet-history-item-selected-color: $accent-shade;
        

$worklet-edit-avatar-size: 150px;


// *****
// PAGE LAYOUT

#help,
.content_footer {
    display: none;
}


div[data-page="WorkletEdit"] {
    .content_header {
        border: none;
    }
}


div[data-page="PublishedWorkletIndex"] {
  #left {
    margin-right: 0;
  }

  #sidebar_wrapper {
    display: none;

    #sidebar {
      width: 0;
      padding-left: 0;
      padding-top: 0;
      top: 0;
      bottom: 0;
    }
  }
}

div[data-page="WorkletEdit"],
div[data-page="WorkletRun"] {
  .sub_nav {
        padding-left: 0;
  }

  #left {
        margin-right: $worklet-right-column-width;
  }

  #sidebar_wrapper {
        width: $worklet-right-column-width;

    #sidebar {
      width: $worklet-right-column-width;
      /* position: absolute; */
      /* width: 266px; */
      /* padding-left: 16px; */
      /* padding-top: 10px; */
      
      padding-left: 0;
      padding-top: 0;
      top: 0;
      bottom: 0;

    }
  }
}

div[data-page="WorkletRun"],
div[data-page="PublishedWorkletShow"] {
    .content_header {
      display: none;
    }
}

div[data-page="PublishedWorkletShow"] {
  .sub_nav {
    margin-top: 50px;
    padding-left: 0;
  }

  #left {
    margin-right: $worklet-right-column-width;
    margin-top: 30px;
  }

  #sidebar_wrapper {
    width: $worklet-right-column-width;

    #sidebar {
      width: $worklet-right-column-width;
      /* position: absolute; */
      /* width: 266px; */
      /* padding-left: 16px; */
      /* padding-top: 10px; */
      padding-left: 0;
      padding-top: 0;
      top: 45px;
      bottom: 0;
    }
  }
}
// END: page layout


.content_header {
  padding: 0;
}

.worklets_worklet_header {

  position: relative;
  background-color: $shaded-background-color;

  .menus {
    position: absolute;
    right: 10px;
    top: 0;
    margin-top: 0px;

    .save {
      margin-top: auto;
    }
  }

  .popup_worklet_menu {
    line-height: 24px;
    // account for 1px border around popup
    right: 0;
    width: $header-margin * 6;

    li {
      @include username-item-link($menu-item-height-default);
    }
  }

  .icon {
    max-height: 40px;
    margin-left: 7px;
    float: left;
  }

  .item_information {
    margin-left: 55px;
  }
}


// *****
// INPUTS PANEL
#worklet_input_reset {
    
    position: absolute;
    top: 10px;
    right: $page-margin-right;

    &.reset_inputs {
        $height-button-widgetshell: 19px;

        @include panel-button($height-button-widgetshell);
        width: 35px;
        font-size: $small-font;
    }
}

#stop_worklet {
    padding-top: 20px;

}

.worklets_worklet_parameter_sidebar {
  background-color: $pattens-blue;
  width: $worklet-right-column-width;          /* RC width */
  height: 100%;

  .heading {
    max-width: $worklet-right-column-width - (2 * $worklet-column-padding-x);
//     padding: 10px 0 10px 20px;
//     background: $accent-shade;
//     border-top: $dark-border-canon;
//     border-bottom: $dark-border-canon;
  }


  // Common to all parameters
  .worklet_parameter {
    min-height: 80px;
    background-color: $core-white;
    border: $dark-border-canon;

    .title_bar {
      position: relative;
      height: 25px;
      line-height: 25px;
      background-color: $shaded-background-color;

      .title_text {}

      .buttons {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .content {
      margin: 5px;
      width: $worklet-right-column-width - 18px;
      .input_section {
        .label {
          font-weight: $bold;
        }

        .text_input {
          width: $worklet-right-column-width - 25px;
          margin: 5px;
        }

        .single_select_input {
          width: $worklet-right-column-width - 25px;
          margin: 5px;
        }

        .multiple_select_container {
          .multiple_select_input {
            float: left;
            text-align: left;
            font-size: $small-font;
            word-wrap: break-word;
            width: ($worklet-right-column-width - 50px)/2;
            max-width: ($worklet-right-column-width - 50px)/2;
            margin: 5px;
          }
        }
      }

      .description {
        font-size: $small-font;
        color: #CCC;
      }
    }
  }

  // No parameters = EMPTY
  .no_parameters_notice {
    height: 50px;
    line-height: 50px;
    background-color: $shaded-background-color;
    border: $dark-border-canon;
    margin: 3px;
    
    //TODO revise to use normal marker display for empty message
    .notice_icon {
      margin-left: 10px;
      margin-right: 10px;
      color: #2c95dd;
    }
  }

  // Pending type assignment parameter
  .worklets_parameters_worklet_parameter {
    .content {
      text-align: center;
      line-height: 50px;
      color: $disabled-text;
    }
  }

  // Text parameter
  .worklets_parameters_worklet_text_parameter {
    .content {
      .input_section {}
    }
  }

  // Number parameter
  .worklets_parameters_worklet_numeric_parameter {}


  .parameter {
    padding: 8px;

    .label {
    }

    .description {
      font-size: $small-font;
      font-color: #CCC;
    }

    input.textInput {
      width: 250px;
    }

    select {
      min-width: 200px;
    }

    .checkboxes {
      padding: 5px;
      background-color: $core-white;
    }
  }

  .spinner_div {
      display: none;
      color: $color-text4;
      font-size: 12px;
      position: absolute;
      right: 15px;

    .loading_spinner {
        left: 8px;
        top: 8px;
    }
  }
}

// container for the steps heading thingy

$background-color-workletSteps-container: #cddcf3;
    
.worklets_worklet_editor_subheader {
    background-color: $background-color-workletSteps-container;
    max-height: 50px;
}

// workletSteps = breadcrumb = worklet steps bar
#workletSteps {
  
    $text-color-past: #FFFFFF;
    $text-color-future: $charcoal;
    $background-color-workletStep-past: #415885;
    $background-color-workletStep-current: #006ba1;
    $background-color-workletStep-future: #FFFFFF;
    $background-color-workletStep-hover: $background-color-workletStep-current;
    
    // height & width of an individual step
    $workletStep-height: 30px;
    $workletStep-width: 135px;
    
    // space between steps
    $workletStep-separation: 2px;

    padding: 10px 0 10px 0;
    margin-left: $page-margin-left;

    display: inline-block;

    a {
        width: $workletStep-width;
        text-decoration: none;
        outline: none;
        display: block;
        float: left;
        line-height: $workletStep-height;
        padding: 0 10px 0 35px;
        position: relative;

        // variant of the lozenge
        @include uppercase;
        font-weight: $semibold;
        font-size: $lozenge-font-size;

        &:first-child {
            padding-left: 46px;
            border-radius: 20px 0 0 20px;      
        }
      
        &:last-child {
            border-radius: 0 20px 20px 0;
            padding-right: 20px;
          
            &:before {
                left: 14px;
            }
            
            &:after {
                content: none;
            }   
        }

        &:before {
          border-radius: 100%;
          width: 20px;
          height: 20px;
          line-height: 20px;
          margin: 8px 0;
          position: absolute;
          top: 0;
          left: 30px;
          font-weight: $bold;
        }

        // Trickery for the arrow
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: -$workletStep-height / 2;

          width: $workletStep-height;
          height: $workletStep-height;

          // sqrt(2)/2
          transform: scale(.7071) rotate(45deg);
          z-index: 1;

          // $background-container: #cddcf3 = rgb(205, 220, 243)
          // offset-x | offset-y | blur-radius | spread-radius | color
          box-shadow:
            2px -2px 0 2px rgba(205, 220, 243, 1),
            3px -3px 0 2px rgba(205, 220, 243, 0.1);

          border-radius: 0 5px 0 50px;
        }  
    }

    .past,
    a.past:after {
      background: $background-color-workletStep-past;
      color: $text-color-past;
    }

    .current,
    a.current:after {
      background: $background-color-workletStep-current;
      color: $text-color-past;
    }

    .future,
    a.future:after {
      background: $background-color-workletStep-future;
      color: $text-color-future;
    }
    a.future:hover {
      color: $text-color-past;
    }

    a:hover,
    a:hover:after {
      background: $background-color-workletStep-hover;
    }
    
}
// }

.worklet_configuration_panel {
  // margin-top: 5px;
  border: 1px solid #F00;  // TODO: remove when final
}

.worklets_parameters_worklet_numeric_parameter {
  border: 1px solid $border-color-darkest;
}

.worklets_worklet_test {
  #share_results_loading {
    $spinner-width: 100px;
    text-align: center;

    #elapsed_time_container {
      #elapsed_time {

      }
    }

    #spinner_container {
      width: 100%;
      height: $spinner-width;
      text-align: center;
      padding-top: $spinner-width;

      .spinner {
        width: 0px;
        height: 0px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.worklet_new_dialog,
.worklet_inputs_configuration,
.worklet_details_configuration,
.worklet_outputs_configuration,
.worklet_workflow_configuration {

  .worklet_param {
    border: 1px solid $border-color-darkest;
    margin: 5px;

    .input_section {
      .disabled {
        color: $disabled-text;
      }
      margin: 10px;
    }

    .workflow_variable {
    }

    // table for building option list
    .option_edit {

        $worklet-optiontable-border-size: 1px;
        $worklet-optiontable-header-color: #CCCCC9;

        margin-top: 5px;

        table {
            min-width: 500px;
            width: 90%;
            
            border-spacing: $worklet-optiontable-border-size;
            border-collapse: separate;
            
            th, td {
                padding: 1px 5px 1px 3px;
                text-align: left;
            }
            th {
              background-color: $worklet-optiontable-header-color;
              font-size: $small-font;
              height: 2em;
            }

            .index_col {
              background-color: $worklet-optiontable-header-color;
              width: 13px;
              max-width: 13px;
              text-align: right;
            }
            .option_input_col,
            .value_input_col {
                width: 210px;
                width: 200px;
            }
            
            td.option_input_col, td.value_input_col {
              padding-left: 1px;
              padding-right: 1px;
            }
            .delete_col {
              width: 5px;
              max-width: 5px;
              text-align: center;
            }
        }
        // option delete
        .removeWidget {
            .remove {
                color: $delete-icon-color;
                &:hover {
                    color: $delete-icon-hover-color;
                }
            }
        }

    }
    // option add
    .addWidget {
        font-size: $small-font;
        .add {
            vertical-align: text-top;
            color: $add-icon-color;
            &:hover {
                color: $add-icon-hover-color;
            }
        }
    }
        
  }

  select.workflow_variable, .ui-selectmenu-button .ui-button {
    display: block;
    min-width: 215px;
  }

  .description_instructions {
    font-size: $small-font;
    color: $color-text4;
  }



.avatar_img_envelope {
    overflow: hidden;
    width: $worklet-edit-avatar-size;
    height: $worklet-edit-avatar-size;
    display: inline-block;
    
    vertical-align: top;
}

  img.worklet_image {
    background-size: cover;
    // float: left;
    // width: $worklet-edit-avatar-size;
    // height: $worklet-edit-avatar-size;
    // margin-right: 5px;
    width: 100%;
    
  }


  .image_instructions {
    margin-left: 10px;
    font-size: $small-font;
    color: $color-text4;
    width: 39%;
    display: inline-block;
  }


  .main_header {
    font-size: $page_header-fontsize;
    height: 40px;
    margin-top: 10px;
    // padding-left: 5px;
    margin-bottom: 5px;
  }

  .section_header {
    height: 25px;
    background-color: $dialog-header-background;
    border-bottom: $border-canon;

    line-height: 25px;
    padding: 0 $default-padding-horizontal;
    word-break: break-all;

    font-size: $medium-font;
    font-weight: $semibold;
    color: $color-text3;

    .section_controls {
      float: right;
    }
  }

  .workflow_details {
      .item_name {
          padding-top: 12px;
          .item_description {
              font-weight: $bold;
  }
      }
  }

  .workfile_image {}


  .spinner_div {
    display: none;
    color: $color-text4;
    font-size: 12px;
    position:absolute;
    right: 15px;

    .loading_spinner {
      left: 8px;
      top: 8px;
    }
  }
}

.no_history {
  padding-left: 0 !important;
}

.worklet_panel {
    box-sizing: border-box;
    border: 1px solid #F00;
    position: relative;

  .header {
    padding: 10px 10px 10px 10px;

    .title {
        display: inline-block;
        font-size: $medium-font;
        font-weight: $semibold;
        color: $color-text2;
        @include ellipsis;
    }
  }
}

// for the visual operator selector 
#worklet_outputs {

$worklet_operator_selection_color: #399ccd;


    .visual_operator {
        position: relative;
        z-index: 12;
    }
    img {
        position: relative;
        z-index: 11;
    }
    .visual_operator_bottom {
        z-index: 10;
    }

  #workfile_image_container {
    position: relative;
    
    border: 1px solid $border-color-darkest;
    
    max-width: 100%;
    max-height: 420px;
    margin: 10px 0 10px 0;
    overflow: scroll;

    .image_operator,
    .image_operator_bottom {
        position: absolute;
    }
    .image_operator {
        width: 46px;
        height: 46px;
    }
    .image_operator_bottom {
        width: 43px;
        height: 43px;
    }
    .marked {
        border: 9px solid $worklet_operator_selection_color;
        border-radius: 25px;
        background-color: $worklet_operator_selection_color;
        @include filter (blur(5px));
        -webkit-filter: blur(5px);
        -ms-filter: blur(5px);
    }
  }
}

// *****
// worklet history panel
.worklet_history {
    width: $worklet-left-column-width; /* LC width */
    height: 100%;
    
    position: absolute;
    left: 0px;
    // right: $worklet-left-column-width; /* LC width */
    // margin-left: -100%;

    .header {
//         max-width: $worklet-left-column-width - (2 * $worklet-column-padding-x);
//         padding: 10px 0 10px 20px;
        
        background: $accent-shade;
    }

    .history {
        padding: $worklet-column-padding-x;
        background-color: lightgray;

    }

    .history_item {
    
        $run_version_width: 25px;

        background-color: $core-white;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        
        margin-bottom: 8px;
        padding: 7px;
        cursor: pointer;
    
        .run_version {
            // position: relative;
            width: $run_version_width;
            float: left;
            
            font-weight: $semibold;
            font-size: $medium-font;
            text-align: right;
        }
        .run_time_relative {
            position: relative;
            
            margin-left: $run_version_width + 10px;
            margin-top: 2px;
            font-weight: normal;
            font-size: $small-font;
        }
    }
        
    .history_item_selected {
        .history_item {
            background-color: $worklet-history-item-selected-color;
        }
    }
    
    // TODO: generalize this for use in multiple workbench panels - history & inputs.
    .empty_state {
        position: relative;
        font-size: $small-font;
        .empty_message {
            margin-left: 25px;
            p {
                margin: 0;
            }
            .icon {
                position: absolute;
                margin-left: -25px;
            }
        }
    }
}
// END: worklet history panel


.worklets_published_worklet_content {
    position: relative;
    // padding-left: $worklet-left-column-width;   /* LC width */
    // padding-right: $worklet-right-column-width;  /* RC width */

    .worklet_output {
        padding-left: $worklet-left-column-width;
        background-color: $core-white;

        .iframe_wrapper {
            padding: 0 38px;
            // height: 100%;

            iframe {
                width: 100%;
                height: 0px;
                border: none;
                height: 100%;
            }
        }
    }
}

//     .worklet_history {
//         position: absolute;
//         width: $worklet-left-column-width; /* LC width */
//         height: 100%;
//         top: 0;
//         left: 0;
// 
//         .title {
//             width: $worklet-left-column-width - (2 * $worklet-column-padding-x);
//             padding: 10px 0 10px 20px;
//             background: $accent-shade;
//             border-top: $dark-border-canon;
//             border-bottom: $dark-border-canon;
//         }
// 
//         .history {
//             padding:  $worklet-column-padding-x;
//             background-color: lightgray;
//             .history_item {
//                 background-color: white;
//                 border: 2px black;
//                 margin-bottom: 8px;
//                 padding: 7px;
//                 cursor: pointer;
//             }
//         }
//         .history_item_selected {
//             .history_item {
//                 background-color: $accent-shade;
//             }
//         }
//     }

    //>div {
    //    position: relative;
    //    float: left;
    //    padding-bottom: 20000px + $worklet-column-padding-y;  /* X + padding-bottom */
    //    margin-bottom: -20000px;  /* X */
    //}

.worklet_usage_item {
    padding: 5px;
    width: 440px;
}
.worklet_list_item {
    border-top: 2px gray solid;
    border-right: 2px gray solid;
    border-left: 2px gray solid;
    &:last-child {
        border-bottom: 2px gray solid;
    }
}



// *****
// TEST RESULTS

$worklet-testResults-loader-width: 170px;

.worklets_worklet_test {
    .iframe_wrapper {
        padding: 0;
        width: 100%;
        text-align: right;

        // match the color coming from alpine until we can fix it
        background-color: rgb(240, 245, 250);

        iframe {
            border: 0;        
        }    
    }

}

#workletResults_loading {
    padding: 20px;
    // height: 620px;
    width: $worklet-testResults-loader-width;
    margin-left: auto;
    margin-right: auto;
}


#loading_doohickey {
    position: relative;
    width: $worklet-testResults-loader-width;
    
    background-color: #49F;
    border: 1px solid #00F;
    border-radius: 5px;
    
    padding: 5px;
    text-align: center;

    .spinner_container {
        // placeholder for a spinner
        width: 70px;
        height: 70px;
        background-color: #999;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    p.loading_title {
        position: relative;
        font-weight: $bold;
        font-size: 16px;
        color: #444;
    }
    p.loading_time {
        position: relative;
        color: #444;
    }
}

#testResults_frame {
    height: 650px;
    width: $default-dialog-width-wide - 25px;
}

// END: TEST RESULTS


// *****
// CATALOG
.worklet_catalog_card {
    @include border-radius(3px);
    
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    
    .worklet_card_avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #111;
        
        img {
            // @include filter(brightness(0.77));
            width: 100%;
            
            opacity: 0.73;
            &:hover {
                opacity: 0.97;
            }
        }
    }
    .worklet_card_content {
        pointer-events: none; // makes the text content transparent to click events
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        color:$core-white;

        .worklet_title {
            padding: 10px;
            position: relative;
            height: 100%;
             
            h3 {
                @include font-primary-bold;
                @include ellipsis;
            }
        }
        .worklet_description {
            margin: 10px;
            position: absolute;
            bottom: 0px;
        }
    }
}

// END: CATALOG
