<div class="chorus-box no-border">
  <div class="box-header">
    <h3 class="box-title"><%= pluralize(@team_users.count, "Workspace") %></h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
      <div class="dataTables_paginate paging_simple_numbers" style="float:right">
        <%= page_entries_info @team_users %>
      </div>
      <div class="row">
        <div class="col-md-12 no-padding">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <tbody>
            <%= render partial: "admin/teams/users/table_row" , collection: @team_users , as: :user %>
            <tr id="new_row" style="hidden:true"></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="dataTables_paginate paging_simple_numbers" style="float:right">
        <%= will_paginate @team_users, :class => 'digg_pagination', :page_links => false %>
      </div>
    </div>
  </div><!-- /.box-body -->
</div>