{{#if editing}}
    <div class="title_bar">
        <div class="title_text">
            {{t "worklet.name_of_parameter_in_sidebar"}}
        </div>
        <div class="buttons">
            <a href="#" class="delete_input_param"><span class="fa fa-trash"></span></a>
            <a href="#" class="scroll_input_param"><span class="fa fa-gear"></span></a>
        </div>
    </div>
{{/if}}

<div class="content">
    <span class="fa fa-lg fa-ellipsis-h"></span>
</div>