{{#if editing}}
    <div class="title_bar">
        <div class="title_text">
            Parameter
        </div>
        {{> workletInputpanelTaskButtons}}
    </div>
{{/if}}

<div class="content">
    <div class="errors"></div>
    <div class="input_section">
        <label class="label{{#if required}} required{{/if}}">{{label}}</label>

        <div class="start_date_widget">
            <div class="start_date"></div>
        </div>

        <div class="description">
            {{description}}
        </div>
    
    </div>

</div>