{{#if editing}}
    <div class="title_bar">
        <div class="title_text">
            {{t "worklet.configure.title_of_parameter_in_sidebar"}}
        </div>
        {{> workletInputpanelTaskButtons}}
    </div>
{{/if}}
<div class="content">
    <span class="fa fa-lg fa-ellipsis-h"></span>
</div>