{{#if editing}}
    <div class="title_bar">
        <div class="title_text">
            Parameter
        </div>
        <div class="buttons">
            <a href="#" class="delete_input_param"><span class="fa fa-lg fa-trash"></span></a>
            <a href="#" class="scroll_input_param"><span class="fa fa-lg fa-gear"></span></a>
        </div>
    </div>
{{/if}}

<div class="content">
    <div class="input_section">
        <label for="{{variableName}}" class="label{{#if required}} required{{/if}}">{{label}}</label>
        <input type="text" class="text_input{{#if required}} required{{/if}}" {{#if required}}required{{/if}} name="{{variableName}}">
    </div>
    <div class="description">
        {{description}}
    </div>
</div>