{{#if editing}}
    <div class="title_bar">
        <div class="title_text">
            Parameter
        </div>
        {{> workletInputpanelTaskButtons}}
    </div>
{{/if}}

<div class="content">
    <div class="input_section">
        <label for="{{variableName}}" class="label{{#if required}} required{{/if}}">{{label}}</label>
        <input type="text" class="text_input{{#if required}} required{{/if}}" {{#if required}}required{{/if}} name="{{variableName}}" maxlength="64">
        <div class="description">
            {{description}}
        </div>
    </div>
</div>