<div class="guts">

    <div class="girdle">
        <div class="content">
            <div class="left">
                <p>{{text}}</p>
            </div>
        </div>
        {{#if body}}
            <div class="body">
                {{body}}
            </div>
        {{/if}}
    </div>
    {{!-- END girdle --}}

    <div id="dialog_bottom" class="form_controls">
        <button type="submit" class="submit modalish" tabindex="1">{{ok}}</button>
        <button type="button" class="cancel modalish" tabindex="2">{{cancel}}</button>
    </div>

</div>
