<div class="right">
    <div class="token username">
        <a class="label" href="#" title="{{fullName}}">
            <span>{{firstName}}<span class="fa fa-caret-down caret"></span></span>
        </a>
        <div class="menu hidden popup_username">
            {{!-- workletActionMenu--}}
        </div>
    </div>

</div>